<!DOCTYPE html>

<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   
</head>

<body class="black">
    <header class="container  ">


        <div class="card-panel orange accent-4 ">


            <div class="card black large">
               

                <div class="card-content black white-text">
                    <h2 class="center" >Friend Finder!</h2>

                        <hr>
                    <h5>
                        <ul>

                            <li>Tired  of dating apps?</li>
                            <br>
                            <li>Only interested in platonic relationships?</li>
                            <br>
                            <li>Do you have a hard time finding people with the same interest yourself?</li>
                            <br>
                            <li>take our survey and we'll take care of the rest!</li>
                         
                        </ul>
                        <div class="center">
                        <a class="btn-flat orange-text darken-4 " href="/survey" >Start Survey</a>
                    </div>
                       
                    </h5>
                  </div>
                  <div class="card-action black white-text">
                    <a href="#">Api Friends list</a>
                    <a href="#">Github Repo</a>
                  </div>







              </div>

        </div>



    </header>

    <div class="container ">


    </div>


















    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>





    <script src="css/materialize.js"></script>
</body>

</html>